.App {
    padding: 20px;
    height: 100vh;
}

.login-form-container {
    width: 50%;
    max-width: 500px;
    margin: auto;
}

.tasks-container {
    width: 80%;
    max-width: 800px;
    margin: auto;
}

.login-form {
    width: 100%;
}

.nav-button {
    border: none;
    background: none;
}

.edit-form{
  width: 100%;
}